@import "tailwindcss";

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

.leaflet-tooltip.zone-label {
	background: transparent;
	border: 0;
	box-shadow: none;
	font-weight: 700;
	font-size: 14px;
	color: #0b0b0b;
	text-shadow:
		0 0 3px #fff,
		0 0 3px #fff;
}

.leaflet-tooltip.zone-label::before {
	display: none;
}

.leaflet-container {
	font: inherit;
}
